<ion-content padding id="myMenu">
  <div class="ion_Content">
    <ion-card class="card_content">
      <div class="image_set">
        <ion-img src="assets/image/taxi.png" class="card_img"></ion-img>
      </div>
      <ion-card-title class="title_center">UniCar</ion-card-title>
      <ion-card-subtitle text-center>Book more, pay less!</ion-card-subtitle>
      <ion-card-content class="button_row">
        <div justify-content-space-between>
          <ion-button slot="start" fill="outline" class="button_outline button-width" routerLink="/loginPage">Log
            In</ion-button>
          <ion-button slot="end" fill="solid" class="button_solid button-width" routerLink="/register">Register
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>