<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile_div">

    <ion-avatar>
      <ion-img (click)="openActionsheet()" [src]="serviceProvider.loggedInUser.profileImg"></ion-img>
    </ion-avatar>

  </div>
  <ion-grid padding-top>
    <ion-row>
      <ion-col size="12">
        <ion-item class="item_input">
          <ion-label position="stacked" color="medium">
            FULL NAME</ion-label>
          <ion-input name="fullname" [(ngModel)]="user.name" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item class="item_input">
            <ion-label position="stacked" color="medium">GENDER</ion-label>
            <ion-input name="gender" [(ngModel)]="user.gender" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="item_input">
          <ion-label position="stacked" color="medium">
            ID NUMBER</ion-label>
          <ion-input name="id" [(ngModel)]="user.id" type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="item_input">
          <ion-label position="stacked" color="medium"> EMAIL</ion-label>
          <ion-input name="email" [(ngModel)]="user.email" type="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="item_input">
          <ion-label position="stacked" color="medium">PHONE NUMBER</ion-label>
          <ion-input name="phone" [(ngModel)]="user.phone" type="tel"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer padding>
  <ion-button expand="block" type="submit" class="submit_button" (click)="updateProfile()">Save Details
  </ion-button>
</ion-footer>